<!DOCTYPE html>
<html>
  <head>
    <title>Imprezzive</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Default home page -->
    <link type="text/css" href='/styles/styles.css' rel='stylesheet'/>
    {{! <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script> }}
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <script type="text/javascript" src="/js/sails.io.js"></script>
  </head>
<body>

  <section class="half">
    <div class="links">
      {{#each prezzes}}
        <a href="/work/{{id}}"> {{id}} </a>
      {{/each}}
    </div>
  </section>
  <section class="half blue">
  <div class="links">
    <a href="/newPrez">+</a>
  </div>
  </section>
  <header>
    <img src="/images/logo.svg" alt="">
  </header>

</body>
</html>